<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.ssm.mapper.AuthorityMapper" >
  <resultMap id="BaseResultMap" type="com.shop.ssm.pojo.Authority" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="function_id" property="functionId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List">
    id,userId,functionId
  </sql>

  <insert id="insert">
      insert into AUTHORITY(user_id,function_id) VALUES
    <foreach collection="functionIds" item="functionId" separator="," index= "index">
    (
        #{userId,jdbcType=INTEGER},#{functionId,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
  <select id="getFunctionsByUserId" parameterType="java.lang.String" resultType="com.shop.ssm.pojo.Function">
    select b.id,b.function_name,b.module_id,b.url,b.is_delete
    from authority a join function b on a.function_id=b.id
    where a.user_id=#{userId,jdbcType=VARCHAR}
  </select>

</mapper>