<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.ssm.mapper.PubSubMapper" >
  <resultMap id="BaseResultMap" type="com.shop.ssm.pojo.PubSub" >
    <result column="pub_id" property="pubId" jdbcType="INTEGER" />
    <result column="sub_id" property="subId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
      pub_id,sub_id
  </sql>
  <insert id="subscribe" parameterType="com.shop.ssm.pojo.PubSub">
    insert into pub_sub(pub_id,sub_id) VALUES
    (
    #{pubId,jdbcType=INTEGER},#{subId,jdbcType=INTEGER}
    )
  </insert>

  <delete id="unsubscribe" parameterType="java.lang.Integer">
    DELETE from pub_sub
    <where>
      sub_id=#{subId,jdbcType=INTEGER} and pub_id=#{pubId,jdbcType=INTEGER}
    </where>
  </delete>

  <select id="getSubsByPubId" resultType="java.lang.Integer">
    select sub_id from pub_sub where pub_id=#{pubId,jdbcType=INTEGER}
  </select>

  <select id="getSubs" resultType="java.lang.Integer">
    select sub_id from pub_sub where pub_id=#{pubId,jdbcType=INTEGER}
  </select>

</mapper>